@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0;padding:0;}
body, button, input, select, textarea {font:12px/1.5 "微软雅黑",Microsoft YaHei,宋体,Arial, Helvetica, sans-serif;color:#666666;}
input{border:hidden;}
h1, h2, h3, h4, h5, h6{font-family:微软雅黑,Microsoft YaHei,宋体;}
img{border:0px;font-size:0;vertical-align: top;}
body{-webkit-text-size-adjust:none;}
ul,li,dl{list-style-type:none}
li{vertical-align:top;}
a{outline: none;text-decoration: none;}
.clear{clear:both;}
body{background:#e1e1e1;}

.banner{width:100%;height:681px;background: url(../images/bg_01.jpg) no-repeat center;}
.t_960{width:960px;margin:0 auto;position:relative}
.banner .t_960 a.download{position:absolute;top:480px;left:327px;width:304px;height:124px;display:inline-block;text-indent:-999999px;background:url(../images/btn.png) no-repeat;}
.banner .t_960 a.download:hover{background:url(../images/btn_h.png) no-repeat;}
.foot{width:100%;height:200px;background: url(../images/bg_02.jpg) no-repeat center;}
.foot .t_960 p{text-align:center;color:#f7bd18;line-height:24px;font-size:12px;font-family:"微软雅黑",Microsoft YaHei;padding-top:75px;}
.foot .t_960 p a.gov{color:#f7bd18;}
.foot .t_960 p a.gov:hover{text-decoration:underline;color:#ffd354;}
.foot .t_960 p a.mail{color:#f7bd18;}
.foot .t_960 p a.mail:hover{text-decoration:underline;color:#ffd354;}